<div id="react-root">{{{markup}}}</div>
<script src="react/card.jsx" type='text/jsx'></script>
<script src="react/board.jsx" type='text/jsx'></script>
<script type='text/jsx'>
	React.render(<Board board={{{board}}}/>, document.getElementById('react-root'))
</script>